//= partials/header.html

<div class="container">

    <header>
        <div class="row main-title">
            <div class="col-xs-12">
                <h1>Value Investing in the Blockchain</h1>
            </div>
        </div>
        <div class="row main-subtitle">
            <div class="col-xs-7">
                <p>
                    Welcome to my curated monthly newsletter on understanding value in the blockchain, including
                    cryptocurrency market. I believe the blockchain will disrupt industry as much as the internet
                    itself did. I am not a financial advisor and don’t play one on the internet, so this is not
                    financial advice. Instead, I’d like to learn, share and discuss how to make sustainable investment
                    choices. I’ll share the most educational articles that helped me climb the learning curve,
                    and include commentary on how they informed my investment choices.
                </p>
                <div class="input-subscribe">
                    <form>
                    <input type="email" value="" aria-describedby="input" placeholder="Enter Your Email Address" />
                    <input type="submit" value="Submit" />
                    <span class="input-subtitle">No spam ever. Unsubscribe at any time.</span>
                    </form>
                </div>
            </div>
            <div class="col-xs-4 col-xs-offset-1 img-shadowed">
                <img src="img/rolonobackgr.png" srcset="img/rolonobackgr@2x.png 2x, img/rolonobackgr@3x.png 3x" />
            </div>
        </div>
    </header>

    <main>
        <div class="row content-title">
            <div class="col-xs-12">
                <h2>Archive</h2>
            </div>
        </div>

        <article>
            <div class="row">
                <div class="col-xs-7">
                    <div class="article-title">
                        <span>Issue 01:</span>
                        <a href="#">The Fundamentals</a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                            <path fill="#1F1C1C" fill-rule="nonzero" d="M12 0L4.103.95l2.559 2.503L0 10.101 1.985 12l6.662-6.604 2.382 2.33z"/>
                        </svg>
                    </div>
                    <p>
                        The inaugural issue contains the most foundational articles that help understand what the
                        blockchain is and its disruptive potential, as well as a refresher on Benjamin Graham’s
                        (Warren Buffet’s personal mentor) value-investing principles.
                    </p>
                    <div class="article-quote">
                        <div class="article-quote-title">Quote of the month</div>
                        <div class="article-quote-text">
                            In the land of blockchains, developers are legislators, miners are executors, and users are
                            judges. All are free to come and go.
                        </div>
                        <div class="article-quote-subtitle">~Naval Ravikant</div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="row">
                <div class="col-xs-7">
                    <div class="article-title">
                        <span>Issue 02: Coming soon</span>
                    </div>
                </div>
            </div>
        </article>

    </main>

    <footer>
        <div class="row">
            <div class="col-xs-8 subscribe-block">
                <h3>Subscribe</h3>
                <div class="input-subscribe">
                    <form>
                        <input type="email" value="" aria-describedby="input" placeholder="Enter Your Email Address" />
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
            <div class="col-xs-4 credits-block">
                My name is Rolando Mathias.<br/>
                I’m a <a href="#">Product Designer</a> & Blockchain Investor.
            </div>
        </div>
    </footer>

</div>

//= partials/footer.html
