//= partials/header.html

<div class="wrap">
    <div class="m-container">

    <header>
        <div class="row main-title">
            <div class="col-xs-12">
                <h1>Value Investing in the Blockchain</h1>
            </div>
        </div>
        <div class="row main-subtitle">
            <div class="col-sm-7 col-xs-7 col-text">
                <p>
                    Welcome to my curated monthly newsletter on understanding value in the blockchain, including
                    cryptocurrency market. I believe the blockchain will disrupt industry as much as the internet
                    itself did. I am not a financial advisor and don’t play one on the internet, so this is not
                    financial advice. Instead, I’d like to learn, share and discuss how to make sustainable investment
                    choices. I’ll share the most educational articles that helped me climb the learning curve,
                    as well as my investment deal notes.
                </p>
                <div class="input-subscribe">
                    <form action="//blockchainvalue.us16.list-manage.com/subscribe/post?u=ae3a39f7743200c7478af3b67&amp;id=dd62e654cd" method="post" >
                        <input name="EMAIL" type="email" value="Enter Your Email Address" aria-describedby="input" data-placeholder="Enter Your Email Address" required />
                        <input type="submit" value="Submit" />
                        <span class="input-subtitle">No spam ever. Unsubscribe at any time.</span>

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_ae3a39f7743200c7478af3b67_dd62e654cd" tabindex="-1" value=""></div>

                    </form>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-offset-1 hidden-mobile col-img">
                <div class="img-shadowed">
                    <img src="img/rolonobackgr.png" srcset="img/rolonobackgr@2x.png 2x, img/rolonobackgr@3x.png 3x" />
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="row content-title">
            <div class="col-xs-12">
                <h2>Archive</h2>
            </div>
        </div>

        <article>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="article-title">
                        <span>Issue 01:</span>
                        <a href="#">The Fundamentals</a>
                        <span class="expand-text"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9">
                            <path fill="none" fill-rule="evenodd" d="M0 1l6.523 6.52L12.993 1"/>
                        </svg>
                    </div>
                    <div class="expand-section">
                        <a target="_blank" href="https://twitter.com/erikdkennedy/status/880088998089080832">
                            <b>
                                Explanation of bitcoin. Zero technical jargon. A tweetstorm
                            </b>
                            <span>by Erik Kennedy
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
                                <path d="M15.116.105a.409.409 0 0 0-.3.695l3.256 3.392H.418a.406.406 0 0 0-.357.202.404.404 0 0 0 0 .412c.073.127.21.204.357.202h17.654L14.817 8.4a.408.408 0 1 0 .59.565l4.19-4.364-4.19-4.364a.41.41 0 0 0-.29-.13z"/>
                            </svg>
                            </span>
                        </a>
                        <a target="_blank" href="http://www.usv.com/blog/fat-protocols">
                            <b>
                                Fat Protocols
                            </b>
                            <span>by Union Square Ventures
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
                                <path d="M15.116.105a.409.409 0 0 0-.3.695l3.256 3.392H.418a.406.406 0 0 0-.357.202.404.404 0 0 0 0 .412c.073.127.21.204.357.202h17.654L14.817 8.4a.408.408 0 1 0 .59.565l4.19-4.364-4.19-4.364a.41.41 0 0 0-.29-.13z"/>
                            </svg>
                            </span>
                        </a>
                        <a target="_blank" href="https://www.cryptocoinsnews.com/singapores-central-bank-completes-blockchain-payments-pilot-nods-digital-currency/">
                            <b>
                                Singapore’s Central Bank Completes Blockchain Payments Pilot
                            </b>
                            <span>by Cryptocoins News
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
                                <path d="M15.116.105a.409.409 0 0 0-.3.695l3.256 3.392H.418a.406.406 0 0 0-.357.202.404.404 0 0 0 0 .412c.073.127.21.204.357.202h17.654L14.817 8.4a.408.408 0 1 0 .59.565l4.19-4.364-4.19-4.364a.41.41 0 0 0-.29-.13z"/>
                            </svg>
                            </span>
                        </a>
                        <a target="_blank" href="https://www.amazon.com/Digital-Gold-Bitcoin-Millionaires-Reinvent/dp/006236250X">
                            <b>
                                Digital Gold: Bitcoin and the Inside Story of the Misfits and Millionaires Trying to Reinvent Money
                            </b>
                            <span>by Nathaniel Popper
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
                                <path d="M15.116.105a.409.409 0 0 0-.3.695l3.256 3.392H.418a.406.406 0 0 0-.357.202.404.404 0 0 0 0 .412c.073.127.21.204.357.202h17.654L14.817 8.4a.408.408 0 1 0 .59.565l4.19-4.364-4.19-4.364a.41.41 0 0 0-.29-.13z"/>
                            </svg>
                            </span>
                        </a>
                        <a target="_blank" href="https://bitcoin.org/bitcoin.pdf">
                            <b>
                                The Original Bitcoin Whitepaper
                            </b>
                            <span><i>(refreshingly readable)</i> PDF Download
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
                                <path d="M15.116.105a.409.409 0 0 0-.3.695l3.256 3.392H.418a.406.406 0 0 0-.357.202.404.404 0 0 0 0 .412c.073.127.21.204.357.202h17.654L14.817 8.4a.408.408 0 1 0 .59.565l4.19-4.364-4.19-4.364a.41.41 0 0 0-.29-.13z"/>
                            </svg>
                            </span>
                        </a>
                        <a target="_blank" href="https://www.serenitystocks.com/blog/quotes-warren-buffett-and-benjamin-graham">
                            <b>
                                Value Investing Concepts
                            </b>
                            <span>by Benjamin Graham & Warren Buffet
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10">
                                <path d="M15.116.105a.409.409 0 0 0-.3.695l3.256 3.392H.418a.406.406 0 0 0-.357.202.404.404 0 0 0 0 .412c.073.127.21.204.357.202h17.654L14.817 8.4a.408.408 0 1 0 .59.565l4.19-4.364-4.19-4.364a.41.41 0 0 0-.29-.13z"/>
                            </svg>
                            </span>
                        </a>
                    </div>
                    <p>
                        The inaugural issue contains the most foundational articles that help understand what the
                        blockchain is and its disruptive potential, as well as a refresher on Benjamin Graham’s
                        (Warren Buffet’s personal mentor) value-investing principles.
                    </p>
                    <div class="article-quote">
                        <div class="article-quote-title">Quote of the month</div>
                        <div class="article-quote-text">
                            In the land of blockchains, developers are legislators, miners are executors, and users are
                            judges. All are free to come and go.
                        </div>
                        <div class="article-quote-subtitle">~Naval Ravikant</div>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="row">
                <div class="col-xs-7">
                    <div class="article-title">
                        <span>Issue 02: Coming soon</span>
                    </div>
                </div>
            </div>
        </article>

    </main>

    <footer>
        <div class="row">
            <div class="col-sm-7 col-xs-12 subscribe-block">
                <h3>Subscribe</h3>
                <div class="input-subscribe">
                    <form action="//blockchainvalue.us16.list-manage.com/subscribe/post?u=ae3a39f7743200c7478af3b67&amp;id=dd62e654cd" method="post" >
                        <input name="EMAIL" type="email" value="Enter Your Email Address" aria-describedby="input" data-placeholder="Enter Your Email Address" required />
                        <input type="submit" value="Submit" />

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_ae3a39f7743200c7478af3b67_dd62e654cd" tabindex="-1" value=""></div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-xs-12 credits-block">
                My name is Rolando Mathias.<br/>
                I’m a <a href="http://rolandomathi.as" target="_blank">Product Designer</a> & Blockchain Investor.
            </div>
        </div>
    </footer>

</div>
</div>

//= partials/footer.html
