<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Value Investing in the Blockchain</title>

    <link rel="icon" href="img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:100,400" rel="stylesheet">

    <link href="css/style.min.css" rel="stylesheet" inline />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Value Investing in the Blockchain" />
    <meta property="og:description" content="I believe this will be the most disruptive technology since the internet itself. However, we are still in the super early stages where it is highly speculative. Let’s dig deep to understand the technology in the space and apply value-investing principles." />
    <meta property="og:image" content="img/blockchain-preview.png" />
    <meta property="og:image:width" content="673" />
    <meta property="og:image:height" content="387" />
</head>
<body>